body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.511)),url(./assets/background.jpg);
    opacity: 90%;
    background-size: cover;
}

.container{
    font-family:"Roboto", sans-serif;
    font-size: normal;
    width: 360px;
    height: 390px;
    background-color: #000000da;
    border-radius: 10px;
    
}
.container h1{
    font-size: 35px;
    text-align: center;
    color: #f5f5f5  ;
}
.logo_login{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.input_login{
    display: flex;
    justify-content: center;
    width: 100%;
}

.input_senha{
    display: flex;
    justify-content: center;
    width: 100%;
}

.input_login input{
    width: 200px;
    border: 2px solid #f5f5f5;
    padding: 8px 10px;
    border-radius: 2px;
    font-size: 12px;
    outline: none;
}

.input_senha input{
    margin-top: 5px;
    width: 200px;
    border: 2px solid #f5f5f5;
    padding: 8px 10px;
    border-radius: 2px;
    font-size: 12px;
 
}

.button{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.button button{
    width: 150px;
    color: #f5f5f5;
    font-family:"Roboto", sans-serif;
    font-weight: bold;
    border: 3px solid #D4A65D;
    border-radius: 2px;
 
    background-color: #D4A65D ;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button button:hover {
    border: 3px solid #876b3e ;
    background-color: #876b3e  ;
}

.container p{
    color: #f5f5f5;
    font-family:"Roboto", sans-serif;
    font-size: 12px;
    text-align: center;
}

